html {
    background-color: mintcream;
}

header {
    text-align: center;
}

body {

}

.section1 {
    margin: 12px;
    max-width: 540px;
    margin: auto;
    text-align: center;
}

.appleFoodWaste {
    text-align: center;
    width: 100px;
    height: 100px;
}



.textH1 {
    font-size: 10px;

}
